@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400&family=Montserrat:ital,wght@0,400;0,700;1,400&family=Press+Start+2P&display=swap');
/* Styles de base pour tous les écrans */
body {
    background-color: black;
}

img {
    width: 100%;
    height: auto;
}

.landing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15vh;
    margin-bottom: 15vh;
}

.landing h1 {
    color: white;
    font-size: 20px;
    margin-bottom: 5rem;
    margin-top: 5rem;
    font-family: "Press Start 2P", cursive;
    text-align: center;
}

/* Media query pour les écrans d'au moins 375px de large (mobiles en orientation portrait) */
@media (min-width: 600px) {
    .landing h1 {
        font-size: 40px;
        text-align: center;
    }
}

/* Media query pour les écrans d'au moins 768px de large (tablettes et écrans plus grands) */
@media screen and (min-width: 768px) {
    .landing h1 {
        margin-bottom: 15vh;
        margin-top: 15vh;
    }
}




#arrow{
    width: 35vw;
    height: auto;
    margin-top: auto;
    margin-bottom: 3rem;
    transform: rotate(90deg);
}

@media screen and (min-width: 768px) {
    #arrow{
        width: 3vw;
        height: auto;
        margin-top: auto;
        margin-bottom: 3rem;
        transform: rotate(90deg);
    }

}

/* Media query pour les tablettes */
@media screen and (min-width: 768px) {
    .landing {
        margin-top: 5vh;
        margin-bottom: 5vh;
    }

    .landing h1 {
        font-size: 30px;
        margin-bottom: 10vh;
        margin-top: 10vh;
    }

    #arrow {
        width: 10vw;
        height: auto;
        margin-top: auto;
        margin-bottom: 3rem;
        transform: rotate(90deg);
    }
}

/* Media query pour les écrans plus grands */
@media screen and (min-width: 1080px) {
    .landing h1 {
        font-size: 40px;
    }

    #arrow {
        width: 7vw;
        height: auto;
    }
    img {
        width: 50vw;
        height: auto;
    }
}

#enter{
    width: 30vw;
    height: auto;
    margin-top: auto;
    margin-bottom: 3rem;
}

@media screen and (min-width: 768px) {
    #enter{
        width: 30vw;
        height: auto;
        margin-top: auto;
        margin-bottom: 3rem;
    }

}

@media screen and (min-width: 1024px) {
    #enter{
        width: 20vw;
        height: auto;
        margin-top: auto;
        margin-bottom: 3rem;
    }

}